{% extends 'base.html.twig' %}

{% block title %}
    SymRecipes Inscription
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="m-4">Formulaire d'inscription</h1>
        {{form(form)}}
    </div>
{% endblock %}