{% extends "base.html.twig" %}
{% block title %} SymRecipes - Accueil {% endblock %}
{% block body %}

  <div class="container">
  <h1 class='display-4 m-3'>Welcome to Recipes</h1>
  <div class="m-4">
  <p class="lead">
  Un site dédié aux recettes de cuisine, proposant des plats variés avec des instructions claires et détaillées
  </p>
  <a class="btn btn-primary m-3">Inscription</a>
  </div>
  
  </div>
{% endblock %}